body{
	font-family: Ariel;
	margin: 5px;
	font-size: 12px;
	text-align: left;
}
#content{
	border: 1px solid black;
	margin-bottom: 10px;
}
input{
	border: #999 1px solid;
	font-size: 10px;
}
#scroll{
	position: relative;
	width: 350px;
	height: 300px;
	overflow: auto;
}
#colorpicker{
	text-align: center;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid black;
}
#palette{
	width: 100px;
	height: 150px;	
}